/* shared style */
body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

/* Banner Image  */
.image {
    background-image: url('images/Banner\ Image.png');
    position: relative;
    filter: brightness(100%);
    padding: 10%;
    margin-left: 310px;
    margin-top: 40px;
    background-repeat: no-repeat;


}

.top-banner-text {
    position: relative;

    /* filter: brightness(100%); */

    padding-left: 180px;
    margin-top: 0%;
    width: 602px;
    color: #FDFEFF;
}

/* Web related style  */
.web-title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: 0%;
    margin-bottom: 0%;

}

.web-heading {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-top: 2%;

}

/* step 2 60% off page  */
.off-div {
    font-family: Inter;
    text-align: center;

    margin-bottom: 120px;
    margin-top: 0px;

}

.off-heading {
    color: #F00;
    font-size: 60px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 40px;
}

.off-description {
    color: #F00;
    font-size: 24px font-weight: 500;
}

.off-h2 {
    color: #070211;
    font-size: 30px;
    font-weight: 700;
    margin-top: 5px;
}

/* mid background image  */

#image {
    background-image: url('images/Vectorrr.png');
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    padding: 100px;
    margin-left: 310px;
}

.img-text {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.btn-class {
    border-radius: 5px;
    background-color: none;
    color: #141313;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

.banner-iamge {
    padding-left: 100px;

}


.welcome-class {
    margin-top: 0%;
    margin-bottom: 10px;

    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    line-height: 88px;
    width: 650px;
}

.welcome-description {

    color: #FFFFFFCC;
    font-size: 18px;
    font-weight: 400;
    width: 700px;
    margin-bottom: 0px;
}

.div-bonus {
    background-color: #ff00000d;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 240px;
    margin-left: 310px;
    padding: 100px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 15px;
    

}

span {
    color: #F00;
}

/* main section style */

main {
    margin-left: 310px;
}

.main-section-p1 {
    color: #F00;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0%;
    margin-bottom: 0px;

}

.main-section-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 0px;
    /* padding-top: 0%; */
}

.main-section-description {
    color: #07021199;
    font-size: 20px;
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.portfolio-image {
    padding: 10px 10px 10px 10px;
}

.portfolio-all-image {}

.subscribe-part {
    border-radius: 15px;
    text-align: center;
    background-color: #ff00000d;
    margin-top: 80px;
    margin-bottom: 180px;
    margin-right: 240px;
    padding: 100px;
}

.button-div {}

.subscribe-part-h {
    color: #070211;
    font-family: Merriweather;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

.subscribe-part-description {
    color: #07021199;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.text-form {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #070211;
    width: 400px;
    height: 72px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #FFF;
    border: 0px;
}

.submit-button {
    width: 200px;
    height: 74px;
    font-size: 20px;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #F00;
    color: #fff;
    border: 0px;
}

/* Footer section  */
.web-link {
    text-align: center;
}

footer {
    background-color: #070211;
    width: ;
    height: 700px;
}

.footer-column {
    color: #fff;
    padding-left: 320px;
}

hr {
    width: 1310px;
    height: 0.1px;
    color: #ffffff26;
    margin-right: 250px;

}

.left-side-top {
    padding-top: 120px;
    padding-bottom: 0px;

    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
}

.left-side-bottom {
    padding-top: 80px;
    padding-bottom: 0px;
    font-size: 24px;
    font-weight: 500;
}

.right-side-num {
    margin-top: 0px;

    padding-bottom: 0px;
}

.footer-column-right-top {
    text-align: right;
    color: #fff;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-right: 350px;
    font-size: 24px;
    font-weight: 500;
}

.right-side-bottom {
    text-align: right;
    color: #fff;
    padding-right: 250px;

    font-size: 24px;
    font-weight: 500;
    padding-top: 0px;
    margin-bottom: 20px;
}