/* shared style */
body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

/* Banner Image  */
.image {
    background-image: url('images/Banner\ Image.png');
    position: relative;
    display: block;
    filter: brightness(85%);
    padding: 10%;
    margin-left: 310px;
    margin-top: 40px;
    background-repeat: no-repeat;

}

.top-banner-text {
    position: relative;

    /* filter: brightness(100%); */

    padding-left: 180px;
    margin-top: 0%;
    width: 602px;
    color: #fff;
}

/* Web related style  */
.web-title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: 0%;
    margin-bottom: 0%;

}

.web-heading {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-top: 2%;

}

/* step 2 60% off page  */
.off-div {
    font-family: Inter;
    text-align: center;

    margin-bottom: 10px;
    margin-top: 0px;

}

.off-heading {
    color: #F00;
    font-size: 60px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 40px;
}

.off-description {
    color: #F00;
    font-size: 24px font-weight: 500;
}

.off-h2 {
    color: #070211;
    font-size: 30px;
    font-weight: 700;
    margin-top: 5px;
}

/* mid background image  */

#image {
    
    
    background-image: url('images/Vectorrr.png');
    margin-left: 310px;
    justify-content: space-between;
    display: flex;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding: 10%;
    

    
}
.btn-class {
    border-radius: 5px;
    background-color: #f1701a;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}


.welcome-class {
    color: #FFF;
    font-size: 65px;
    font-weight: 900;
    line-height: 88px;
    width: 650px;
}

.welcome-description {
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    width: 700px;
}